<!DOCTYPE html>
<html>
<head>
	<title>My WebSite</title>
</head>
<body>
	<h1>User number: <%= parseInt(user) + 1 %></h1>
	<span>
	  	Actions: 
	  		<form action="/about/delete/<%= user %>" method="POST">
    			<input type="submit" value="delete user">
			</form>
	</span>	
	  	<a href="/about/update/<%= user %>">UPDATE</a>
		<li>First Name: <b><%= DB[user].firstName %></b>
	  	<li>Last Name: <b><%= DB[user].lastName %></b>
	  	<li>Email: <b><%= DB[user].email %></b>
	</ul>

	<h3><a href="/about">Or go back to the users page</a></h3>
</body>
</html>