<!DOCTYPE html>
<html>
<head>
	<title>My WebSite</title>
</head>
<body>
	<h1>User with ID: <%= student.id %></h1>
	<span>
	  	Actions: 
	  	<form action="/api/<%= student.id %>/delete" method="POST">
    			<input type="submit" value="delete student">
			</form>
	  	<a href="/api/<%= student.id %>/update">UPDATE</a>
	</span>	
	<li>First Name: <b><%= student.firstName %></b>
	  	<li>Last Name: <b><%= student.lastName %></b>
	  	<li>Email: <b><%= student.email %></b>
	</ul>

	<h3><a href="/api">Or go back to the users page</a></h3>
</body>
</html>